@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Blaka&family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&family=Ibarra+Real+Nova:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700;800&family=La+Belle+Aurore&family=Luckiest+Guy&family=Montserrat:wght@400;500;600;700;800&family=Noto+Sans+JP:wght@400;500;700&family=Noto+Sans+KR:wght@300&family=Nunito:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&family=Press+Start+2P&family=Raleway:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&family=Silkscreen:wght@400;700&family=Smooch&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Ubuntu:wght@300;400;500;700&family=Vujahday+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #000000;
}

/* navigation style */
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #222;
}

.nav__svg {
    width: 10px;
}

.nav__logo {
    width: 190px;
}

.nav__unordered {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav__list a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.nav__inform {
    padding: 2px 5px;
    border-radius: 6px;
    background-color: #ff6868;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
}

.nav__button {
    background-color: #1a1a1a;
    color: #96fc04;
    font-weight: 600;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
}


/* header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-1 {
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 20px;
}

.heading-1 span {
    color: #96fc04;
}

.header__subheader {
    text-align: center;
    font-size: 16px;
    color: #eeeeee;
    margin-bottom: 60px;
}

.header__button {
    text-align: center;
    padding: 16px 80px;
    background-color: #96fc04;
    color: #222;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    margin-bottom: 60px;
}

.header__button:hover {
    background-color: #b5ff4d;
}

.header__hero-image {
    width: 800px;
}